[submodule "Code/Layout_Analysis/VGT/detectron2"]
	path = Code/Layout_Analysis/VGT/detectron2
	url = https://github.com/facebookresearch/detectron2
[submodule "Code/Layout_Analysis/unilm"]
	path = Code/Layout_Analysis/unilm
	url = https://github.com/mpilligua/unilm
[submodule "Code/Denoise/MIRNetv2"]
	path = Code/Denoise/MIRNetv2
	url = https://github.com/mpilligua/MIRNetv2