{% extends "layout.html" %}

{% block title %}Contact Us{% endblock %}

{% block content %}

<div class="container">
    <header class="transparent-black-bg">
        <h1>Contact Us</h1>
    </header>
    
    <div class="transparent-black-bg">
        <p class="gradient-text"> If you have any questions or comments, please contact us at: </p>

        <div class="linkedin-links" style="display: flex; align-items: center;">
            <p class="gradient-text" style="margin-right: 10px;">Linkedin:</p>
            <div class="linkedin-list" style="display: flex;">
                <a href="https://www.linkedin.com/in/xavi-soto-350b51280/" target="_blank">Xavi Soto</a>
                <span class="separator" style="border-right: 1px solid #ccc; margin: 0 10px;"></span>
                <a href="https://www.linkedin.com/in/nil-biescas-rue-3b830b238/" target="_blank">Nil Biescas</a>
                <span class="separator" style="border-right: 1px solid #ccc; margin: 0 10px;"></span>
                <a href="https://www.linkedin.com/in/mariapilligua/" target="_blank">Maria Pilligua</a>
                <span class="separator" style="border-right: 1px solid #ccc; margin: 0 10px;"></span>
                <a href="https://www.linkedin.com/in/jordi-longaron-08a20a29a/" target="_blank">Jordi Longaorn</a>
                <span class="separator" style="border-right: 1px solid #ccc; margin: 0 10px;"></span>
                <a href="https://www.linkedin.com/in/laia-vilardell-b6a628234/" target="_blank">Laia Vilardell</a>
            </div>
        </div>
        <p class="gradient-text">GitHub: <a href="https://github.com/NilBiescas/Project_Synthesis2-" target="_blank">Editable File Converter Repository</a></p>
        <p class="gradient-text">Email: <a href="https://mail.google.com/" target="_blank">xaviminisoto@gmail.com</a></p>
    </div>
</div>

{% endblock %}