{% extends "layout.html" %}

{% block title %}File Preview{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">File Preview</h3>
                        <img src="{{ url_for('uploaded_file', filename=image_path) }}" class="img-fluid mb-3" alt="Preview">
                    </div>
                    <div>

                    <div>
                        <a href="{{ url_for('preview_file', filename=power_path) }}" class="btn btn-primary" target="_blank">Preview PDF</a>
                        <a href="{{ url_for('download_file', filename=file_path) }}" class="btn btn-secondary">Download PowerPoint</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
