{% extends "layout.html" %}

{% block title %}File Upload{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Upload a File</h3>
                    <form id="uploadForm" action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data" onsubmit="return submitForm()">
                        <div class="form-group d-flex justify-content-center" id="select-file">
                            <input type="file" class="form-control-file" name="file" id="fileInput">
                        </div>
                        <div id="loading" style="display:none;">
                            <p>Loading...</p>
                            <div class="custom-spinner-container">
                                <div class="custom-spinner"></div>
                            </div>
                        </div>
                        <div id="buttons" style="text-align: center;">
                            <button type="submit" class="btn btn-primary" id="uploadButton">Upload File</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row mt-5">
        <div class="col-md-6">
            <div id="ocrOutputCard" class="card" style="display:block;">
                <div class="card-body">
                    <h3 class="card-title">Layer Separation Output</h3>
                        <img src="{{ url_for('uploaded_file', filename=l0) }}" class="img-fluid mb-3" alt="OCR output">
                    <div id="ocrOutput"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div id="layerSepOutputCard" class="card" style="display:block;">
                <div class="card-body">
                    <h3 class="card-title">OCR Output</h3>
                        <img src="{{ url_for('uploaded_file', filename=ocr_out) }}" class="img-fluid mb-3" alt="OCR output">
                    <div id="layerSepOutput"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    #select-file {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    #loading {
        display: none;
        text-align: center;
        width: 100%; /* Set width to fill the container */
    }

    .custom-spinner-container {
        width: 4rem;
        height: 4rem;
        position: relative;
        margin: 0 auto; /* Center horizontally */
    }

    .custom-spinner {
        border: 0.3rem solid rgba(0, 0, 0, 0.1);
        border-top-color: #007bff;
        border-radius: 50%;
        width: 100%;
        height: 100%;
        animation: custom-spin 1s linear infinite;
    }

    @keyframes custom-spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
</style>

<script>
    function submitForm() {
        var fileInput = document.getElementById('fileInput');
        if (fileInput.files.length === 0) {
            alert('Please select a file.');
            return false;
        }
        // Show loading spinner
        document.getElementById('loading').style.display = 'block';
        document.getElementById('buttons').style.display = 'none';
        document.getElementById('select-file').style.display = 'none';
        
        return true;
    }

    // Function to show buttons again on error
    function showButtons() {
        document.getElementById('loading').style.display = 'none';
        document.getElementById('select-file').style.display = 'block';
        document.getElementById('buttons').style.display = 'block';
    }
</script>
{% endblock %}
